/* resets */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* reset default margin */
body,
h1,
h2,
h3,
h4,
p,
li,
figure,
figcaption,
blockquote,
dl,
dd,
picture {
  margin: 0;
}

/* resetting body */

body {
    line-height: 1.5;
    min-height: 100vh;
}

img,
picture {
    max-width: 100%;
    display: block;
}

/* Utility classes */

.grid {
    display: grid;
    gap: var(--gap,);
}

.flex {
    display: flex;
    gap: var(--gap,)
}

.text_font {
    font-size: 16px;
}

.text_font_family {
    font-family:"Red Hat Display";
    font-weight: var(--wg, );
}

/* classes */

.main_container {
    background: url(./images/pattern-background-desktop.svg) no-repeat top center;
    background-size: contain;
    background-color: rgb(228, 228, 255);
}

.container {
    padding-top: 4em;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.card_container {
    width: 30%;
    height: 600px;
    border-radius: 2em;
    background-color: white;
}
